---
http_interactions:
- request:
    method: get
    uri: https://api.kraken.com/0/public/AssetPairs
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":[],"result":{"XETHXXBT":{"altname":"ETHXBT","aclass_base":"currency","base":"XETH","aclass_quote":"currency","quote":"XXBT","lot":"unit","pair_decimals":5,"lot_decimals":8,"lot_multiplier":1,"leverage_buy":[1.5,2,2.5],"leverage_sell":[1.5,2,2.5],"fees":[[0,0.1],[10000,0.09],[50000,0.08],[100000,0.07],[500000,0.06],[1000000,0.05]],"fees_maker":[[0,0.05],[10000,0.04],[50000,0.03],[100000,0.02],[500000,0.01],[1000000,0]],"fee_volume_currency":"ZUSD","margin_call":80,"margin_stop":40},"XETHZCAD":{"altname":"ETHCAD","aclass_base":"currency","base":"XETH","aclass_quote":"currency","quote":"ZCAD","lot":"unit","pair_decimals":5,"lot_decimals":8,"lot_multiplier":1,"leverage_buy":[],"leverage_sell":[],"fees":[[0,0.26],[10000,0.24],[50000,0.22],[100000,0.2],[250000,0.18],[500000,0.16],[1000000,0.14],[5000000,0.12],[10000000,0.1]],"fees_maker":[[0,0.16],[10000,0.14],[50000,0.12],[100000,0.1],[250000,0.08],[500000,0.06],[1000000,0.04],[5000000,0.02],[10000000,0]],"fee_volume_currency":"ZUSD","margin_call":80,"margin_stop":40},"XETHZEUR":{"altname":"ETHEUR","aclass_base":"currency","base":"XETH","aclass_quote":"currency","quote":"ZEUR","lot":"unit","pair_decimals":5,"lot_decimals":8,"lot_multiplier":1,"leverage_buy":[],"leverage_sell":[],"fees":[[0,0.26],[10000,0.24],[50000,0.22],[100000,0.2],[250000,0.18],[500000,0.16],[1000000,0.14],[5000000,0.12],[10000000,0.1]],"fees_maker":[[0,0.16],[10000,0.14],[50000,0.12],[100000,0.1],[250000,0.08],[500000,0.06],[1000000,0.04],[5000000,0.02],[10000000,0]],"fee_volume_currency":"ZUSD","margin_call":80,"margin_stop":40},"XETHZGBP":{"altname":"ETHGBP","aclass_base":"currency","base":"XETH","aclass_quote":"currency","quote":"ZGBP","lot":"unit","pair_decimals":5,"lot_decimals":8,"lot_multiplier":1,"leverage_buy":[],"leverage_sell":[],"fees":[[0,0.26],[10000,0.24],[50000,0.22],[100000,0.2],[250000,0.18],[500000,0.16],[1000000,0.14],[5000000,0.12],[10000000,0.1]],"fees_maker":[[0,0.16],[10000,0.14],[50000,0.12],[100000,0.1],[250000,0.08],[500000,0.06],[1000000,0.04],[5000000,0.02],[10000000,0]],"fee_volume_currency":"ZUSD","margin_call":80,"margin_stop":40},"XETHZJPY":{"altname":"ETHJPY","aclass_base":"currency","base":"XETH","aclass_quote":"currency","quote":"ZJPY","lot":"unit","pair_decimals":5,"lot_decimals":8,"lot_multiplier":1,"leverage_buy":[],"leverage_sell":[],"fees":[[0,0.26],[10000,0.24],[50000,0.22],[100000,0.2],[250000,0.18],[500000,0.16],[1000000,0.14],[5000000,0.12],[10000000,0.1]],"fees_maker":[[0,0.16],[10000,0.14],[50000,0.12],[100000,0.1],[250000,0.08],[500000,0.06],[1000000,0.04],[5000000,0.02],[10000000,0]],"fee_volume_currency":"ZUSD","margin_call":80,"margin_stop":40},"XETHZUSD":{"altname":"ETHUSD","aclass_base":"currency","base":"XETH","aclass_quote":"currency","quote":"ZUSD","lot":"unit","pair_decimals":5,"lot_decimals":8,"lot_multiplier":1,"leverage_buy":[],"leverage_sell":[],"fees":[[0,0.26],[10000,0.24],[50000,0.22],[100000,0.2],[250000,0.18],[500000,0.16],[1000000,0.14],[5000000,0.12],[10000000,0.1]],"fees_maker":[[0,0.16],[10000,0.14],[50000,0.12],[100000,0.1],[250000,0.08],[500000,0.06],[1000000,0.04],[5000000,0.02],[10000000,0]],"fee_volume_currency":"ZUSD","margin_call":80,"margin_stop":40},"XLTCZEUR":{"altname":"LTCEUR","aclass_base":"currency","base":"XLTC","aclass_quote":"currency","quote":"ZEUR","lot":"unit","pair_decimals":5,"lot_decimals":8,"lot_multiplier":1,"leverage_buy":[],"leverage_sell":[],"fees":[[0,0.26],[10000,0.24],[50000,0.22],[100000,0.2],[250000,0.18],[500000,0.16],[1000000,0.14],[5000000,0.12],[10000000,0.1]],"fees_maker":[[0,0.16],[10000,0.14],[50000,0.12],[100000,0.1],[250000,0.08],[500000,0.06],[1000000,0.04],[5000000,0.02],[10000000,0]],"fee_volume_currency":"ZUSD","margin_call":80,"margin_stop":40},"XLTCZUSD":{"altname":"LTCUSD","aclass_base":"currency","base":"XLTC","aclass_quote":"currency","quote":"ZUSD","lot":"unit","pair_decimals":5,"lot_decimals":8,"lot_multiplier":1,"leverage_buy":[],"leverage_sell":[],"fees":[[0,0.26],[10000,0.24],[50000,0.22],[100000,0.2],[250000,0.18],[500000,0.16],[1000000,0.14],[5000000,0.12],[10000000,0.1]],"fees_maker":[[0,0.16],[10000,0.14],[50000,0.12],[100000,0.1],[250000,0.08],[500000,0.06],[1000000,0.04],[5000000,0.02],[10000000,0]],"fee_volume_currency":"ZUSD","margin_call":80,"margin_stop":40},"XXBTXLTC":{"altname":"XBTLTC","aclass_base":"currency","base":"XXBT","aclass_quote":"currency","quote":"XLTC","lot":"unit","pair_decimals":5,"lot_decimals":8,"lot_multiplier":1,"leverage_buy":[],"leverage_sell":[],"fees":[[0,0.1],[10000,0.09],[50000,0.08],[100000,0.07],[500000,0.06],[1000000,0.05]],"fees_maker":[[0,0.05],[10000,0.04],[50000,0.03],[100000,0.02],[500000,0.01],[1000000,0]],"fee_volume_currency":"ZUSD","margin_call":80,"margin_stop":40},"XXBTXNMC":{"altname":"XBTNMC","aclass_base":"currency","base":"XXBT","aclass_quote":"currency","quote":"XNMC","lot":"unit","pair_decimals":5,"lot_decimals":8,"lot_multiplier":1,"leverage_buy":[],"leverage_sell":[],"fees":[[0,0.1],[10000,0.09],[50000,0.08],[100000,0.07],[500000,0.06],[1000000,0.05]],"fees_maker":[[0,0.05],[10000,0.04],[50000,0.03],[100000,0.02],[500000,0.01],[1000000,0]],"fee_volume_currency":"ZUSD","margin_call":80,"margin_stop":40},"XXBTXSTR":{"altname":"XBTSTR","aclass_base":"currency","base":"XXBT","aclass_quote":"currency","quote":"XSTR","lot":"unit","pair_decimals":3,"lot_decimals":8,"lot_multiplier":1,"leverage_buy":[],"leverage_sell":[],"fees":[[0,0.1],[10000,0.09],[50000,0.08],[100000,0.07],[500000,0.06],[1000000,0.05]],"fees_maker":[[0,0.05],[10000,0.04],[50000,0.03],[100000,0.02],[500000,0.01],[1000000,0]],"fee_volume_currency":"ZUSD","margin_call":80,"margin_stop":40},"XXBTXXDG":{"altname":"XBTXDG","aclass_base":"currency","base":"XXBT","aclass_quote":"currency","quote":"XXDG","lot":"unit","pair_decimals":1,"lot_decimals":8,"lot_multiplier":1,"leverage_buy":[],"leverage_sell":[],"fees":[[0,0.1],[10000,0.09],[50000,0.08],[100000,0.07],[500000,0.06],[1000000,0.05]],"fees_maker":[[0,0.05],[10000,0.04],[50000,0.03],[100000,0.02],[500000,0.01],[1000000,0]],"fee_volume_currency":"ZUSD","margin_call":80,"margin_stop":40},"XXBTXXRP":{"altname":"XBTXRP","aclass_base":"currency","base":"XXBT","aclass_quote":"currency","quote":"XXRP","lot":"unit","pair_decimals":3,"lot_decimals":8,"lot_multiplier":1,"leverage_buy":[],"leverage_sell":[],"fees":[[0,0.1],[10000,0.09],[50000,0.08],[100000,0.07],[500000,0.06],[1000000,0.05]],"fees_maker":[[0,0.05],[10000,0.04],[50000,0.03],[100000,0.02],[500000,0.01],[1000000,0]],"fee_volume_currency":"ZUSD","margin_call":80,"margin_stop":40},"XXBTXXVN":{"altname":"XBTXVN","aclass_base":"currency","base":"XXBT","aclass_quote":"currency","quote":"XXVN","lot":"unit","pair_decimals":5,"lot_decimals":8,"lot_multiplier":1,"leverage_buy":[],"leverage_sell":[],"fees":[[0,0.1],[10000,0.09],[50000,0.08],[100000,0.07],[500000,0.06],[1000000,0.05]],"fees_maker":[[0,0.05],[10000,0.04],[50000,0.03],[100000,0.02],[500000,0.01],[1000000,0]],"fee_volume_currency":"ZUSD","margin_call":80,"margin_stop":40},"XXBTZCAD":{"altname":"XBTCAD","aclass_base":"currency","base":"XXBT","aclass_quote":"currency","quote":"ZCAD","lot":"unit","pair_decimals":5,"lot_decimals":8,"lot_multiplier":1,"leverage_buy":[],"leverage_sell":[],"fees":[[0,0.26],[10000,0.24],[50000,0.22],[100000,0.2],[250000,0.18],[500000,0.16],[1000000,0.14],[5000000,0.12],[10000000,0.1]],"fees_maker":[[0,0.16],[10000,0.14],[50000,0.12],[100000,0.1],[250000,0.08],[500000,0.06],[1000000,0.04],[5000000,0.02],[10000000,0]],"fee_volume_currency":"ZUSD","margin_call":80,"margin_stop":40},"XXBTZCAD.d":{"altname":"XBTCAD.d","aclass_base":"currency","base":"XXBT","aclass_quote":"currency","quote":"ZCAD","lot":"unit","pair_decimals":5,"lot_decimals":8,"lot_multiplier":1,"leverage_buy":[],"leverage_sell":[],"fees":[[0,0.36],[10000,0.34],[50000,0.32],[100000,0.3],[250000,0.28],[500000,0.26],[1000000,0.24],[5000000,0.22],[10000000,0.2]],"fee_volume_currency":"ZUSD","margin_call":80,"margin_stop":40},"XXBTZEUR":{"altname":"XBTEUR","aclass_base":"currency","base":"XXBT","aclass_quote":"currency","quote":"ZEUR","lot":"unit","pair_decimals":5,"lot_decimals":8,"lot_multiplier":1,"leverage_buy":[1.5,2,2.5,3,5],"leverage_sell":[1.5,2,2.5,3,5],"fees":[[0,0.26],[10000,0.24],[50000,0.22],[100000,0.2],[250000,0.18],[500000,0.16],[1000000,0.14],[5000000,0.12],[10000000,0.1]],"fees_maker":[[0,0.16],[10000,0.14],[50000,0.12],[100000,0.1],[250000,0.08],[500000,0.06],[1000000,0.04],[5000000,0.02],[10000000,0]],"fee_volume_currency":"ZUSD","margin_call":80,"margin_stop":40},"XXBTZEUR.d":{"altname":"XBTEUR.d","aclass_base":"currency","base":"XXBT","aclass_quote":"currency","quote":"ZEUR","lot":"unit","pair_decimals":5,"lot_decimals":8,"lot_multiplier":1,"leverage_buy":[],"leverage_sell":[],"fees":[[0,0.36],[10000,0.34],[50000,0.32],[100000,0.3],[250000,0.28],[500000,0.26],[1000000,0.24],[5000000,0.22],[10000000,0.2]],"fee_volume_currency":"ZUSD","margin_call":80,"margin_stop":40},"XXBTZGBP":{"altname":"XBTGBP","aclass_base":"currency","base":"XXBT","aclass_quote":"currency","quote":"ZGBP","lot":"unit","pair_decimals":5,"lot_decimals":8,"lot_multiplier":1,"leverage_buy":[],"leverage_sell":[],"fees":[[0,0.26],[10000,0.24],[50000,0.22],[100000,0.2],[250000,0.18],[500000,0.16],[1000000,0.14],[5000000,0.12],[10000000,0.1]],"fees_maker":[[0,0.16],[10000,0.14],[50000,0.12],[100000,0.1],[250000,0.08],[500000,0.06],[1000000,0.04],[5000000,0.02],[10000000,0]],"fee_volume_currency":"ZUSD","margin_call":80,"margin_stop":40},"XXBTZGBP.d":{"altname":"XBTGBP.d","aclass_base":"currency","base":"XXBT","aclass_quote":"currency","quote":"ZGBP","lot":"unit","pair_decimals":5,"lot_decimals":8,"lot_multiplier":1,"leverage_buy":[],"leverage_sell":[],"fees":[[0,0.36],[10000,0.34],[50000,0.32],[100000,0.3],[250000,0.28],[500000,0.26],[1000000,0.24],[5000000,0.22],[10000000,0.2]],"fee_volume_currency":"ZUSD","margin_call":80,"margin_stop":40},"XXBTZJPY":{"altname":"XBTJPY","aclass_base":"currency","base":"XXBT","aclass_quote":"currency","quote":"ZJPY","lot":"unit","pair_decimals":3,"lot_decimals":8,"lot_multiplier":1,"leverage_buy":[],"leverage_sell":[],"fees":[[0,0.26],[10000,0.24],[50000,0.22],[100000,0.2],[250000,0.18],[500000,0.16],[1000000,0.14],[5000000,0.12],[10000000,0.1]],"fees_maker":[[0,0.16],[10000,0.14],[50000,0.12],[100000,0.1],[250000,0.08],[500000,0.06],[1000000,0.04],[5000000,0.02],[10000000,0]],"fee_volume_currency":"ZUSD","margin_call":80,"margin_stop":40},"XXBTZJPY.d":{"altname":"XBTJPY.d","aclass_base":"currency","base":"XXBT","aclass_quote":"currency","quote":"ZJPY","lot":"unit","pair_decimals":3,"lot_decimals":8,"lot_multiplier":1,"leverage_buy":[],"leverage_sell":[],"fees":[[0,0.36],[10000,0.34],[50000,0.32],[100000,0.3],[250000,0.28],[500000,0.26],[1000000,0.24],[5000000,0.22],[10000000,0.2]],"fee_volume_currency":"ZUSD","margin_call":80,"margin_stop":40},"XXBTZUSD":{"altname":"XBTUSD","aclass_base":"currency","base":"XXBT","aclass_quote":"currency","quote":"ZUSD","lot":"unit","pair_decimals":5,"lot_decimals":8,"lot_multiplier":1,"leverage_buy":[],"leverage_sell":[],"fees":[[0,0.26],[10000,0.24],[50000,0.22],[100000,0.2],[250000,0.18],[500000,0.16],[1000000,0.14],[5000000,0.12],[10000000,0.1]],"fees_maker":[[0,0.16],[10000,0.14],[50000,0.12],[100000,0.1],[250000,0.08],[500000,0.06],[1000000,0.04],[5000000,0.02],[10000000,0]],"fee_volume_currency":"ZUSD","margin_call":80,"margin_stop":40},"XXBTZUSD.d":{"altname":"XBTUSD.d","aclass_base":"currency","base":"XXBT","aclass_quote":"currency","quote":"ZUSD","lot":"unit","pair_decimals":5,"lot_decimals":8,"lot_multiplier":1,"leverage_buy":[],"leverage_sell":[],"fees":[[0,0.36],[10000,0.34],[50000,0.32],[100000,0.3],[250000,0.28],[500000,0.26],[1000000,0.24],[5000000,0.22],[10000000,0.2]],"fee_volume_currency":"ZUSD","margin_call":80,"margin_stop":40},"ZEURXXVN":{"altname":"EURXVN","aclass_base":"currency","base":"ZEUR","aclass_quote":"currency","quote":"XXVN","lot":"unit","pair_decimals":5,"lot_decimals":8,"lot_multiplier":1,"leverage_buy":[],"leverage_sell":[],"fees":[[0,0.75]],"fee_volume_currency":"ZUSD","margin_call":80,"margin_stop":40},"ZUSDXXVN":{"altname":"USDXVN","aclass_base":"currency","base":"ZUSD","aclass_quote":"currency","quote":"XXVN","lot":"unit","pair_decimals":5,"lot_decimals":8,"lot_multiplier":1,"leverage_buy":[],"leverage_sell":[],"fees":[[0,0.75]],"fee_volume_currency":"ZUSD","margin_call":80,"margin_stop":40}}}'
  recorded_at: Sun, 23 Aug 2015 00:51:21 GMT
recorded_with: VCR 2.9.3
