---
http_interactions:
- request:
    method: post
    uri: https://api.kraken.com/0/private/Balance
    body:
      encoding: UTF-8
      string: nonce=943910730968917668
    headers:
      Api-Key:
      - COMPUTED
      Api-Sign:
      - COMPUTED
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":[],"result":{"ZEUR":"1433.0939","XXBT":"0.0000000000","XETH":"99.7497224800"}}'
  recorded_at: Sun, 23 Aug 2015 01:31:15 GMT
recorded_with: VCR 2.9.3
