---
http_interactions:
- request:
    method: post
    uri: https://api.kraken.com/0/private/Ledgers
    body:
      encoding: UTF-8
      string: nonce=943911226341167997
    headers:
      Api-Key:
      - COMPUTED
      Api-Sign:
      - COMPUTED
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":[],"result":{"ledger":{"LRSNYS-DICDD-3QM34P":{"refid":"TGGPX6-6RB25-OBRPHS","time":1440193797.3844,"type":"trade","aclass":"currency","asset":"ZEUR","amount":"1226.9568","fee":"1.9631","balance":"1433.0939"},"L4SSBD-VBL7H-JBZEFL":{"refid":"TGGPX6-6RB25-OBRPHS","time":1440193797.3831,"type":"trade","aclass":"currency","asset":"XETH","amount":"-941.2859340200","fee":"0.0000000000","balance":"99.7497224800"},"LWJLTE-AQPZC-5UV7A7":{"refid":"TKCPEI-IOJ3V-OWYLD6","time":1440189051.7174,"type":"trade","aclass":"currency","asset":"ZEUR","amount":"10.3503","fee":"0.0166","balance":"208.1002"},"LK53A4-VFCHG-6P4ZMK":{"refid":"TKCPEI-IOJ3V-OWYLD6","time":1440189051.7161,"type":"trade","aclass":"currency","asset":"XETH","amount":"-8.1498496400","fee":"0.0000000000","balance":"1041.0356565000"},"LZLYUH-UMJGJ-6ZPFHT":{"refid":"TXMKZY-UJRDU-UXA3RQ","time":1440189045.1347,"type":"trade","aclass":"currency","asset":"ZEUR","amount":"20.6917","fee":"0.0331","balance":"197.7665"},"LJT2E4-ZYIQG-JXFUJA":{"refid":"TXMKZY-UJRDU-UXA3RQ","time":1440189045.1333,"type":"trade","aclass":"currency","asset":"XETH","amount":"-16.2926942200","fee":"0.0000000000","balance":"1049.1855061400"},"L6XEVO-XAKIB-2LTPKU":{"refid":"TUQDI7-2A2VX-4J3J6P","time":1440188566.4002,"type":"trade","aclass":"currency","asset":"ZEUR","amount":"36.6992","fee":"0.0587","balance":"177.1079"},"LLLKWK-K6GOA-CYXPQK":{"refid":"TUQDI7-2A2VX-4J3J6P","time":1440188566.3972,"type":"trade","aclass":"currency","asset":"XETH","amount":"-28.8970424100","fee":"0.0000000000","balance":"1065.4782003600"},"LQKFCR-VJBD2-CMKFVJ":{"refid":"TDKDI7-GLJU6-AXPDJI","time":1440188551.6082,"type":"trade","aclass":"currency","asset":"ZEUR","amount":"8.4125","fee":"0.0135","balance":"140.4674"},"LL4EVM-R6P6I-5ZEG4L":{"refid":"TDKDI7-GLJU6-AXPDJI","time":1440188551.6069,"type":"trade","aclass":"currency","asset":"XETH","amount":"-6.6240000000","fee":"0.0000000000","balance":"1094.3752427700"},"L67DZQ-QSNUT-OZJ2RY":{"refid":"T76GH4-6WSNO-BR5C6F","time":1440188544.5309,"type":"trade","aclass":"currency","asset":"ZEUR","amount":"0.0011","fee":"0.0000","balance":"132.0684"},"LDENTJ-UFQWY-MBLXXX":{"refid":"T76GH4-6WSNO-BR5C6F","time":1440188544.5297,"type":"trade","aclass":"currency","asset":"XETH","amount":"-0.0008572300","fee":"0.0000000000","balance":"1100.9992427700"},"LNRMMB-IXCAX-EIFBBQ":{"refid":"T6BPBS-CKEOT-5RV3IV","time":1440184482.1955,"type":"trade","aclass":"currency","asset":"ZEUR","amount":"-599.4872","fee":"0.9592","balance":"132.0673"},"LQIZP4-7IZBC-SJZ7DH":{"refid":"T6BPBS-CKEOT-5RV3IV","time":1440184482.1942,"type":"trade","aclass":"currency","asset":"XETH","amount":"479.5859173900","fee":"0.0000000000","balance":"1101.0001000000"},"LQY46I-YTXVS-VU4KJN":{"refid":"T6ZXO4-PRCTQ-NKWANC","time":1440184480.893,"type":"trade","aclass":"currency","asset":"ZEUR","amount":"-33.1329","fee":"0.0530","balance":"732.5137"},"LD57SD-VVHA3-P3OVT5":{"refid":"T6ZXO4-PRCTQ-NKWANC","time":1440184480.8917,"type":"trade","aclass":"currency","asset":"XETH","amount":"26.5061000000","fee":"0.0000000000","balance":"621.4141826100"},"LXPBFA-Q7D3Z-HKMG6R":{"refid":"TJOUGD-NBNFP-FW32TP","time":1440184480.7624,"type":"trade","aclass":"currency","asset":"ZEUR","amount":"-74.8226","fee":"0.1197","balance":"765.6996"},"L7ZLLC-BYRSL-RWQLRB":{"refid":"TJOUGD-NBNFP-FW32TP","time":1440184480.7612,"type":"trade","aclass":"currency","asset":"XETH","amount":"59.8576000000","fee":"0.0000000000","balance":"594.9080826100"},"LELRRK-L25JD-AABWXB":{"refid":"T7YOUA-GQYLL-3SCZYP","time":1440184475.8516,"type":"trade","aclass":"currency","asset":"ZEUR","amount":"-54.1012","fee":"0.0866","balance":"840.6419"},"LJDBKB-NBAB4-VTXTZE":{"refid":"T7YOUA-GQYLL-3SCZYP","time":1440184475.8497,"type":"trade","aclass":"currency","asset":"XETH","amount":"43.2806000000","fee":"0.0000000000","balance":"535.0504826100"},"LCY4AQ-LPD3L-GPCLUS":{"refid":"TEOPQ4-JYRII-A25DM2","time":1440184474.7433,"type":"trade","aclass":"currency","asset":"ZEUR","amount":"-500.0040","fee":"0.8000","balance":"894.8297"},"LXPOUV-V5PFU-ERXTFI":{"refid":"TEOPQ4-JYRII-A25DM2","time":1440184474.7418,"type":"trade","aclass":"currency","asset":"XETH","amount":"400.0000000000","fee":"0.0000000000","balance":"491.7698826100"},"L7VM2N-BRWCG-7LKV2X":{"refid":"T43EFN-LF4HZ-6MIW5U","time":1440184465.6437,"type":"trade","aclass":"currency","asset":"ZEUR","amount":"-56.4667","fee":"0.0904","balance":"1395.6337"},"LW4ZAV-TU53A-K6XCQV":{"refid":"T43EFN-LF4HZ-6MIW5U","time":1440184465.6424,"type":"trade","aclass":"currency","asset":"XETH","amount":"45.1729986100","fee":"0.0000000000","balance":"91.7698826100"},"LKABL5-DMDOL-H6C3FB":{"refid":"TUIXMX-M7YTO-PIPMZA","time":1440184462.7627,"type":"trade","aclass":"currency","asset":"ZEUR","amount":"-33.0237","fee":"0.0528","balance":"1452.1908"},"LXCL6H-RCUSP-D7X55Q":{"refid":"TUIXMX-M7YTO-PIPMZA","time":1440184462.7614,"type":"trade","aclass":"currency","asset":"XETH","amount":"26.4187840000","fee":"0.0000000000","balance":"46.5968840000"},"LD3CI6-74JHE-A3B23I":{"refid":"TFHB5G-ORDPC-D5N4XY","time":1440184461.7559,"type":"trade","aclass":"currency","asset":"ZEUR","amount":"-23.9727","fee":"0.0384","balance":"1485.2673"},"L72QXW-ALPQT-3DCTKA":{"refid":"TFHB5G-ORDPC-D5N4XY","time":1440184461.7546,"type":"trade","aclass":"currency","asset":"XETH","amount":"19.1780000000","fee":"0.0000000000","balance":"20.1781000000"},"L3AAJW-SARYY-F5X4TP":{"refid":"TWYBFW-2M6VA-XEWWTK","time":1440178999.423,"type":"trade","aclass":"currency","asset":"ZEUR","amount":"-0.3600","fee":"0.0006","balance":"1509.2784"},"L2I46F-QWHPX-AGF2HO":{"refid":"TWYBFW-2M6VA-XEWWTK","time":1440178999.4215,"type":"trade","aclass":"currency","asset":"XETH","amount":"0.2647058900","fee":"0.0000000000","balance":"1.0001000000"},"LUPYKW-SEK6B-YIU6CX":{"refid":"TC4KV7-BEUVG-QMCRXY","time":1440178997.9067,"type":"trade","aclass":"currency","asset":"ZEUR","amount":"-1.0000","fee":"0.0016","balance":"1509.6390"},"LM643W-OFUDM-MQAU4U":{"refid":"TC4KV7-BEUVG-QMCRXY","time":1440178997.9,"type":"trade","aclass":"currency","asset":"XETH","amount":"0.7352941100","fee":"0.0000000000","balance":"0.7353941100"},"LBZCVO-L7PPH-EBRZHO":{"refid":"QCCO54K-2GVGPT-GI3GVP","time":1440159972.123,"type":"deposit","aclass":"currency","asset":"ZEUR","amount":"1400.0000","fee":"0.0000","balance":"1510.6406"},"LJPDVO-FLFWW-BBG5HD":{"refid":"TPCDMG-ZYQYH-N4VHJG","time":1440152868.4889,"type":"trade","aclass":"currency","asset":"ZEUR","amount":"105.1000","fee":"0.1682","balance":"110.6406"},"LU6LCT-3OKIW-XYUWLN":{"refid":"TPCDMG-ZYQYH-N4VHJG","time":1440152868.4876,"type":"trade","aclass":"currency","asset":"XXBT","amount":"-0.5000000000","fee":"0.0000000000","balance":"0.0000000000"},"LSDXQU-LEMRM-MRUUB3":{"refid":"TEY2ZW-LAGP3-PFFTVY","time":1440152630.3183,"type":"trade","aclass":"currency","asset":"ZEUR","amount":"-104.9301","fee":"0.1679","balance":"5.7088"},"L3RGST-ADSPB-J2JD2B":{"refid":"TEY2ZW-LAGP3-PFFTVY","time":1440152630.3167,"type":"trade","aclass":"currency","asset":"XXBT","amount":"0.5000000000","fee":"0.0000000000","balance":"0.5000000000"},"LNTDYS-IX6AB-IAKG6S":{"refid":"TVCJ3B-3UVTL-2UWBVD","time":1440109173.9069,"type":"trade","aclass":"currency","asset":"ZEUR","amount":"1.5951","fee":"0.0042","balance":"110.8068"},"LPVHNX-EDSMO-KAPEYL":{"refid":"TVCJ3B-3UVTL-2UWBVD","time":1440109173.9057,"type":"trade","aclass":"currency","asset":"XETH","amount":"-1.1900000000","fee":"0.0000000000","balance":"0.0001000000"},"LSGVWZ-ZHWCY-OCP4KN":{"refid":"TFNLDH-4ABVJ-EOCGYZ","time":1440096631.2315,"type":"trade","aclass":"currency","asset":"ZEUR","amount":"-1.5470","fee":"0.0040","balance":"109.2159"},"LY4V5N-AB7IY-XCCYRF":{"refid":"TFNLDH-4ABVJ-EOCGYZ","time":1440096631.2303,"type":"trade","aclass":"currency","asset":"XETH","amount":"1.1901000000","fee":"0.0000000000","balance":"1.1901000000"},"LDFHIC-MMPQC-V6MKTF":{"refid":"TJS2DT-S5GDF-746XS4","time":1440089663.9245,"type":"trade","aclass":"currency","asset":"ZEUR","amount":"86.6200","fee":"0.1386","balance":"110.7669"},"L3PQ2T-5MUCI-HJ5YHG":{"refid":"TJS2DT-S5GDF-746XS4","time":1440089663.9232,"type":"trade","aclass":"currency","asset":"XETH","amount":"-71.0000000000","fee":"0.0000000000","balance":"0.0000000000"},"LXRDM2-W7256-BPBXHS":{"refid":"TLZ5PB-MFBNT-LP7TDA","time":1440088940.1484,"type":"trade","aclass":"currency","asset":"ZEUR","amount":"24.0000","fee":"0.0384","balance":"24.2855"},"LKEWIJ-NSQQQ-3K4B5K":{"refid":"TLZ5PB-MFBNT-LP7TDA","time":1440088940.1449,"type":"trade","aclass":"currency","asset":"XETH","amount":"-20.0000000000","fee":"0.0000000000","balance":"71.0000000000"},"LHGXUZ-Q4OSG-PXVBVP":{"refid":"T6ZXLI-Z72TZ-BT5L24","time":1440086465.0907,"type":"trade","aclass":"currency","asset":"ZEUR","amount":"-17.9605","fee":"0.0287","balance":"0.3239"},"LXCZ2J-RW3F3-6EUYKX":{"refid":"T6ZXLI-Z72TZ-BT5L24","time":1440086465.0893,"type":"trade","aclass":"currency","asset":"XETH","amount":"15.4831835500","fee":"0.0000000000","balance":"91.0000000000"},"LM3OJI-HALB4-54W5A2":{"refid":"TZQIMV-HBY7M-LYKNVU","time":1440086255.6758,"type":"trade","aclass":"currency","asset":"ZEUR","amount":"-41.9877","fee":"0.0672","balance":"18.3131"},"LLP673-BMFIV-5C33YR":{"refid":"TZQIMV-HBY7M-LYKNVU","time":1440086255.6729,"type":"trade","aclass":"currency","asset":"XETH","amount":"36.1963000000","fee":"0.0000000000","balance":"75.5168164500"},"LSK7MW-7IQPR-D575DZ":{"refid":"TPVA2G-LYFJ3-4YFXMK","time":1440086175.5102,"type":"trade","aclass":"currency","asset":"ZEUR","amount":"-34.0118","fee":"0.0544","balance":"60.3680"}},"count":"58"}}'
  recorded_at: Sun, 23 Aug 2015 01:43:50 GMT
recorded_with: VCR 2.9.3
