---
http_interactions:
- request:
    method: get
    uri: https://api.kraken.com/0/public/Depth?pair=XXBTZEUR
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":[],"result":{"XXBTZEUR":{"asks":[["204.52893","0.010",1440291148],["204.78790","0.312",1440291132],["204.89900","6.900",1440290177],["204.89984","6.000",1440288765],["204.89990","4.000",1440290298],["204.99999","84.126",1440281705],["205.09182","0.010",1440290950],["205.11000","1.448",1440288270],["205.13234","14.020",1440290357],["205.13533","0.038",1440285722],["205.31900","0.800",1440291137],["205.35823","14.043",1440283650],["205.43000","0.060",1440290430],["205.58437","15.146",1440281393],["205.70710","0.012",1440290950],[...]
