---
http_interactions:
- request:
    method: post
    uri: https://api.kraken.com/0/private/QueryLedgers
    body:
      encoding: UTF-8
      string: id=LRSNYS-DICDD-3QM34P&nonce=943930440865802504
    headers:
      Api-Key:
      - COMPUTED
      Api-Sign:
      - COMPUTED
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":[],"result":{"LRSNYS-DICDD-3QM34P":{"refid":"TGGPX6-6RB25-OBRPHS","time":1440193797.3844,"type":"trade","aclass":"currency","asset":"ZEUR","amount":"1226.9568","fee":"1.9631","balance":"1433.0939"}}}'
  recorded_at: Sun, 23 Aug 2015 09:52:29 GMT
recorded_with: VCR 2.9.3
