---
http_interactions:
- request:
    method: get
    uri: https://api.kraken.com/0/public/Time
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":[],"result":{"unixtime":1440290972,"rfc1123":"Sun, 23 Aug
        15 00:49:32 +0000"}}'
  recorded_at: Sun, 23 Aug 2015 00:49:30 GMT
recorded_with: VCR 2.9.3
