---
http_interactions:
- request:
    method: post
    uri: https://api.kraken.com/0/private/TradeVolume
    body:
      encoding: UTF-8
      string: nonce=943930453275642101&pair=XETHZEUR
    headers:
      Api-Key:
      - COMPUTED
      Api-Sign:
      - COMPUTED
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":[],"result":{"currency":"ZUSD","volume":"3878.8703","fees":{"XETHZEUR":{"fee":"0.2600","minfee":"0.1000","maxfee":"0.2600","nextfee":"0.2400","nextvolume":"10000.0000","tiervolume":"0.0000"}},"fees_maker":{"XETHZEUR":{"fee":"0.1600","minfee":"0.0000","maxfee":"0.1600","nextfee":"0.1400","nextvolume":"10000.0000","tiervolume":"0.0000"}}}}'
  recorded_at: Sun, 23 Aug 2015 09:52:48 GMT
recorded_with: VCR 2.9.3
