---
http_interactions:
- request:
    method: post
    uri: https://api.kraken.com/0/private/TradeVolume
    body:
      encoding: UTF-8
      string: id=XETHZEUR&nonce=943911303968918275
    headers:
      Api-Key:
      - COMPUTED
      Api-Sign:
      - COMPUTED
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":[],"result":{"currency":"ZUSD","volume":"3729.4807"}}'
  recorded_at: Sun, 23 Aug 2015 01:45:49 GMT
recorded_with: VCR 2.9.3
